{% extends 'base.html' %}

{% block content %} 

{{ super() }}

<h1>Hello {{ html_name }} ! You are in the Home Page!!! </h1>

<h1>Database Results!!!</h1>
{% for item in result %}
<h2> ID: {{ item.id }} Name: {{ item.name }} Location: {{ item.location }}
{% endfor %}

{% if display %}
<h2> This to be displayed </h2>
{% else %}
<h2>This is not being displayed</h2>
{% endif %}


{% for x in mylist %}
<h3> {{ x }} </h3>
{% endfor %}

{% for x in my_dict %}
<h4> {{ x.name }} </h4>
{% endfor %}

<img src = "{{ url_for('static', filename='images/image.jpg') }}">


{% include 'include_this.html' %}

{% endblock %}